<div class="recipe-show">
	<div class="banner-image-container">
		<div class="banner-text">
			<h3><%= ((@recipe.total_time_in_seconds/ 60 * 5) / 5).to_i %> <span>min</span> • <%= @recipe.number_of_servings %> <span>servings</span> • <%= @recipe.calories %> <span>cal</span></h3>
		</div>
		<div class="dark-mask"></div>
		<%= image_tag @recipe.image_url_size(650), class:"banner-image" %>
	</div>
	<% if current_user %>
		<% if current_user.has_favourited(@recipe.recipe_id) %>
			<%= button_to "Unfavorite", { controller: :favourites, action: 'destroy', favourite: {recipe_id: @recipe.recipe_id}}, :method => :delete, remote: true %>
		<% else %>
			<%= button_to "Favourite", { controller: 'favourites', action: 'create', favourite: {recipe_id: @recipe.recipe_id}}, remote: true %>
		<% end %>
	<% end %>

	<span><%= @recipe.name %></span>
	<ul>
		<% @recipe.ingredient_lines.each do |ingredient| %>
			<li><%= ingredient %></li>
		<% end %>
	</ul>
	<a class="recipe-button" href=<%= @recipe.source_recipe_url %>>Find Full Recipe on <%= @recipe.source_display_name %></a>
</div>
