<% if @recipes %>
	<% @recipes.each do |recipe| %>
		<div data-id=<%= recipe.id %> class="recipe-thumb">
			<!-- <div class="invisible-button"></div> -->
			<div class="inner">
				<div class="face front"> 
					<%= image_tag recipe.image, class:"thumb-image" %>
					<div class="title">
						<span><%= recipe.name %></span>
					</div>
					<div class="aside">
						<h5>Ready In: <strong class="highlight"><br><%= recipe.time %> min</strong></h5>
						<h5>Ingredients: <br><strong class="highlight"><%= recipe.ingredientsNum %></strong></h5>
						<% if current_user %>
							<% if current_user.has_favourited(recipe.id) %>
								<%= button_to "Unfavorite", { controller: :favourites, action: 'destroy', favourite: {recipe_id: recipe.id}}, :method => :delete, remote: true %>
							<% else %>
								<%= button_to "Favourite", { controller: 'favourites', action: 'create', favourite: {recipe_id: recipe.id}}, remote: true %>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="face back">
				</div>
			</div>
		</div>
	<% end %>
<% end %>