<% if @recipes %>
	<% @recipes.each do |recipe| %>
		<div data-id=<%= recipe.id %> class="recipe-thumb">
			<!-- <div class="invisible-button"></div> -->
			<div class="inner">
				<div class="face front">
					<div class="top mask"></div> 
					<div class="bottom mask"></div> 
					<div class="border"></div>
					<%= image_tag recipe.image, class:"thumb-image" %>
					<div class="title">
						<span><%= recipe.name %></span>
					</div>
					<div class="aside">
						<h4>
							<% if recipe.time != "NA" %>
								<%= recipe.time %> <span>min</span> • 
							<% end %>
							<%= recipe.ingredientsNum %> <span>ing</span>
						</h4>
					</div>
					<div class="dots">
						<h2>•••</h2>
					</div>
				</div>
				<div class="face back">
				</div>
			</div>
		</div>
	<% end %>
<% end %>
