<div class="recipe-show">
	<div class="banner-image-container">
		<div class="banner-text">
			<h4>
				<%= ((@recipe.total_time_in_seconds/ 60 * 5) / 5).to_i %> <span>min</span> • 
				<%= @recipe.number_of_servings %> <span>servings</span>
				<% if @recipe.calories %>
					 • <%= @recipe.calories.round(-1) %><span> cal</span>
				<% end %>

			</h4>
		</div>
		<div class="dark-mask"></div>
		<%= image_tag @recipe.image_url_size(650), class:"banner-image" %>
	</div>
	<% if current_user %>
		<% if current_user.has_favourited(@recipe.recipe_id) %>
			<%= link_to "", { controller: :favourites, action: 'destroy', favourite: {recipe_id: @recipe.recipe_id}}, class: "fav fa fa-heart fa-2x top-heart", :method => :delete, remote: true %>
			<i class="fav fa fa-heart-o fa-2x"></i>
		<% else %>
			<%= link_to "", { controller: 'favourites', action: 'create', favourite: {recipe_id: @recipe.recipe_id}}, class: "fav fa fa-heart-o fa-2x top-heart", method: :post, remote: true %>
			<i class="fav fa fa-heart fa-2x bottom-heart"></i>
		<% end %>
	<% end %>

	<!-- <h5><%= @recipe.name %></h5> -->
	<h4>Ingredients</h4>
	<div class="overflow">
		<ul class="ingredients-list">
			<% @recipe.ingredient_lines.take(6).each do |ingredient| %>
				<li>
					<%= ingredient[0, 65].capitalize %><% if ingredient.length > 65 %>...
					<% end %>
				</li>
			<% end %>
			<% if @recipe.ingredient_lines.count == 7 %>
				<li><strong>1 more ingredient</strong></li>
			<% elsif @recipe.ingredient_lines.count > 7 %>
				<li><strong><%=  @recipe.ingredient_lines.count - 6 %> more ingredients</strong></li>
			<% end %>
		</ul>
	</div>
	<a href=<%= @recipe.source_recipe_url %>>
		<div class="recipe-button">
			View Full Recipe
		</div>
	</a>
</div>
