<div class="recipe-show">
	<div class="banner-image-container">
		<div class="dark-mask"></div>
		<div class="banner-text">

			<h3>
				<%= ((@recipe.total_time_in_seconds/ 60 * 5) / 5).to_i %> <span>min</span> • 
				<%= @recipe.number_of_servings %> <span>servings</span>
				<% if @recipe.calories %>
					 • <%= @recipe.calories.round(-1) %><span> cal</span>
				<% end %>
			</h3>
		</div>
		<%= image_tag @recipe.image_url_size(650), class:"banner-image" %>
	</div>
	<% if current_user %>
		<% if current_user.has_favourited(@recipe.recipe_id) %>
			<%= link_to "", { controller: :favourites, action: 'destroy', favourite: {recipe_id: @recipe.recipe_id}}, class: "fav fa fa-heart fa-2x top-heart", :method => :delete, remote: true %>
			<i class="fav fa fa-heart-o fa-2x"></i>
		<% else %>
			<%= link_to "", { controller: 'favourites', action: 'create', favourite: {recipe_id: @recipe.recipe_id}}, class: "fav fa fa-heart-o fa-2x top-heart", method: :post, remote: true %>
			<i class="fav fa fa-heart fa-2x bottom-heart"></i>
		<% end %>
	<% end %>

	<!-- <h5><%= @recipe.name %></h5> -->
	<h4 class="ingredients-title">Ingredients</h4>
	<div class="overflow">
		<ul class="ingredients-list">
			<% @recipe.ingredient_lines.each do |ingredient| %>
				<li>
					<%= ingredient[0, 65].capitalize %><% if ingredient.length > 65 %>...
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="button-container">
		<form action=<%= @recipe.source_recipe_url %> target="_blank">
	    	<input class="recipe-button" type="submit" value="View Full Recipe">
		</form>
	</div>
</div>
