<h1>Add some Ingredients</h1>
<h3>maybe some cucumber or chick peas, healthy shit</h3>

<%= form_tag recipes_path, method: 'get' do %>
	<%= text_field_tag :ingredient, params[:ingredient] %>
	<%= submit_tag "Find Recipes", :name => nil %>
<% end %>

<h1>Here's your recipes bro</h1>
<% @recipes.each do |recipe| %>
	<div>
		<%= recipe.name %>
	</div>
<% end %>

<!-- <div class="test-button">TEST BUTTON</div>

<div class="test-append"></div>
 -->


<h1>TEST RECIPE LIST</h1>




<% @api_recipes.each do |recipe| %>
<%= recipe %>

<% end %>