<div class="favourites-container">

	<h4 class="favourites-header">Flavourites</h4>
	<% @favourites.each_with_index do |favourite, i| %>

		<!-- Recipe modal -->
		<div class="modal">
			<label for="modal-<%= i %>">
				<div class="favourite-recipe favourite-grid-item" style="background-image: url(<%= favourite.recipe.image_url_size(650) %>)">
					<div class="favourite-mask"></div>
					<div class="favourite-face favourite-front">
						<div class="favourite-title">
							<span><%= favourite.recipe.name %></span>
						</div>
					</div>
				</div>
			</label>

			<input class="modal-state" id="modal-<%= i %>" type="checkbox" />
			<div class="modal-window">
				<div class="modal-inner">
					<div class="favourite-banner-container">
						<div class="favourite-recipe-stats">
							<h4><%= favourite.recipe_readable_time %> • <%= favourite.recipe_ingredients_count %> <span>ing</span> • <%= favourite.recipe_calories %> <span>cal</span></h4>
						</div>
						<%= image_tag favourite.recipe.image_url_size(650), class:"favourite-banner-image" %>
					</div>
					<label class="modal-close" for="modal-<%= i %>"></label>
					<% if current_user %>
					<% if current_user.has_favourited(favourite.recipe_id) %>
					<%= button_to "Unfavorite", { controller: :favourites, action: 'destroy', favourite: {recipe_id: favourite.recipe_id}}, :method => :delete, remote: true %>
					<% else %>
					<%= button_to "Favourite", { controller: 'favourites', action: 'create', favourite: {recipe_id: favourite.recipe_id}}, remote: true %>
					<% end %>
					<% end %>
					<p class="modal-content"></p>
					<h4>Ingredients</h4>
					<ul class="ingredients-list">
						<% favourite.recipe.ingredient_lines.each do |i| %>
						<li><%= i %></li>
						<% end %>
					</ul>
					<a href=<%= favourite.recipe_source_recipe_url %>>
						<div class="recipe-button">
							View Full Recipe
						</div>
					</a>
				</div>
			</div>
		</div>
	<% end %>
	<div class="end-decoration"></div>
</div>

