<div class="favourites-container">

	<h4 class="favourites-header">Flavourites</h4>
	<% @favourites.each_with_index do |favourite, i| %>

		<!-- Recipe modal -->
		<div class="modal">
			<label for="modal-<%= i %>">
				<div class="favourite-recipe favourite-grid-item" style="background-image: url(<%= favourite.recipe.image_url_size(650) %>)">
					<div class="favourite-mask"></div>
					<div class="favourite-face favourite-front">
						<div class="favourite-title">
							<span><%= favourite.recipe.name %></span>
						</div>
					</div>
				</div>
			</label>

			<input class="modal-state" id="modal-<%= i %>" type="checkbox" />
			<div class="modal-window">
				<div class="modal-inner">
					<div class="fav-banner-content">	
						<div class="modal-mask"></div>
						<div class="favourite-recipe-stats">
							<h4><%= favourite.recipe_readable_time %> • <%= favourite.recipe_number_of_servings %> <span>servings</span>
							<% if favourite.recipe_calories %>
							 • <%= favourite.recipe_calories.round(-1) %> <span>cal</span></h4>
							<% end %>
						</div>
					</div>
					<div class="favourite-banner-container">
						<%= image_tag favourite.recipe.image_url_size(650), class:"favourite-banner-image" %>
					</div>
					<label class="modal-close" for="modal-<%= i %>"></label>
					<% if current_user %>
					<% if current_user.has_favourited(favourite.recipe_id) %>
						<%= link_to "", { controller: :favourites, action: 'destroy', favourite: {recipe_id: favourite.recipe_id}}, class: "fav-icon fa fa-heart fa-2x top-heart", :method => :delete, remote: true %>
						<i class="fav-icon fa fa-heart-o fa-2x"></i>
					<% else %>
						<%= link_to "", { controller: 'favourites', action: 'create', favourite: {recipe_id: favourite.recipe_id}}, class: "fav-icon fa fa-heart-o fa-2x top-heart", method: :post, remote: true %>
						<i class="fav-icon fa fa-heart fa-2x bottom-heart"></i>
					<% end %>
					<% end %>
					<p class="modal-content"></p>
					<h4>Ingredients</h4>
					<ul class="ingredients-list">
						<% favourite.recipe.ingredient_lines.each do |i| %>
							<li>
								<%= i[0, 65].capitalize %><% if i.length > 65 %>...
								<% end %>
							</li>
						<% end %>
					</ul>
					<div class="button-container">
						<form action=<%= favourite.recipe_source_recipe_url %> target="_blank">
					    	<input class="recipe-button" type="submit" value="View Full Recipe">
						</form>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<div class="end-decoration"></div>
</div>
<i class="fa fa-info-circle info"></i>

