<!DOCTYPE html>
<html>
<head>
	<title>Chefly</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<div class="info-overlay">
		<div class="info-container">
			<div class="info-text">
				<h3>Using Chefly</h3>
				<hr id="info-break">
				<p>Using Chefly is simple. To navigate between recipes use the side buttons, or if you're feeling like a pro try out the swank arrow keys. When you find one you like, you can 'flavourite' it for later by pressing the heart or the down key.</p><br>
			</div><br>
			<img id="nav-image" src="/assets/chefly-buttons.png">
		</div>
	</div>
	<nav>
		<h3 id="logo"><%= link_to "Chefly", root_path %></h3>
		<% if current_user %>
		<div class="sign-out">
			<div class="user-image"><%= image_tag current_user.avatar %><%= current_user.name.split(' ')[0] %></div>
			<ul class="menu">
				<hr>
				<li><%= link_to "Favourites", favourites_path %></li>
				<li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
			</ul>
		</div>
		<% else %>
		<%= link_to user_omniauth_authorize_path(:facebook) do %>
		<div id="sign-in"><i class="fa fa-facebook"></i> Sign-in</div> 
		<% end %>
		<% end %>
	</nav>

	<%= yield %>
	
</body>
</html>
