<!DOCTYPE html>
<html>
<head>
	<title>Chefly</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>

	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Coustard' rel='stylesheet' type='text/css'>

</head>
<body>
	<nav>
		<div id="logo">
			<h2><%= link_to "Chefly", root_path %></h2>
		</div>
		<div id="sign-in">
			<% if current_user %>
				<%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
			<% else %>
				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
			<% end %>
		</div>
	</nav>

	<div>
		<%= yield %>
	</div>
</body>
</html>
